## Set up

In [0]:
import pandas as pd
import os as os
import json as js
import gzip
import pickle
import numpy as np
import tensorflow as tf
import tflearn
import nltk
nltk.download('punkt')
from keras.utils import to_categorical
from keras.preprocessing import sequence 
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from random import shuffle

#importing libraries for NLP
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

WARNING: Logging before flag parsing goes to stderr.
W0817 12:04:31.420081 140702507169664 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/tflearn/helpers/summarizer.py:9: The name tf.summary.merge is deprecated. Please use tf.compat.v1.summary.merge instead.

W0817 12:04:31.422279 140702507169664 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/tflearn/helpers/trainer.py:25: The name tf.summary.FileWriter is deprecated. Please use tf.compat.v1.summary.FileWriter instead.

W0817 12:04:31.439707 140702507169664 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/tflearn/collections.py:13: The name tf.GraphKeys is deprecated. Please use tf.compat.v1.GraphKeys instead.

W0817 12:04:31.450214 140702507169664 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/tflearn/config.py:123: The name tf.get_collection is deprecated. Please use tf.compat.v1.get_collection instead.

W0817 12:04:31.472265 140702507169664 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/tflearn/config.py:129: The name tf.add_to_collection is deprecated. Please use tf.compat.v1.add_to_collection instead.

W0817 12:04:31.474622 140702507169664 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/tflearn/config.py:131: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

Using TensorFlow backend.

In [0]:
from google.colab import files
uploaded = files.upload()

Saving df_10_08 to df_10_08

In [0]:
import pickle
with open ('df_10_08', 'rb') as fr:
    df = pickle.load(fr)

In [0]:
df.head()

       reviewerID        asin  ...    adverb  preposition
0  A19JYLHD94K94D  6304239327  ...  0.580656     0.141440
1  A144W50UYZG4YX  630339406X  ... -0.965335     0.004659
2  A16QODENBJVUI1  B0007PALGG  ... -0.029045     1.596967
3  A3L2856DIMUXJY  B0001DCR0C  ... -1.193729     1.243162
4  A1Z54EM24Y40LL  B00004WI5C  ...  1.078076     0.137840

[5 rows x 67 columns]

In [0]:
df = pd.read_csv('movies_reviewers_3000.csv',index_col = 0)

## Pre-processing

In [0]:
#1 - Mapping the Labels
#Mapping labels to [0,1] where 1 is assigned to a rating greater or equal to 3(positive). Wherease, a value of 0 for a review with a rating lower than 3.
df['label'] = np.where(df.overall >= 3,1,0)

In [0]:
#2,3,4 - Uniform Spelling of words, Remove special characters, Remove stop-words

def pre_process_reviews(df):
  '''This function takes the dataframe and processing the reviews by removing the punctuation, stopwords and making
  all the reviews into lowercase so that all reveiews have an identical structure. It then returns a clean corpus 
  consisting of all the processed reviews.'''
  
  corpus = []
  
  for i in range(len(df)):
    #Getting rid of punctuation
    review = re.sub('[^a-zA-Z]', ' ', str(df.iloc[i]['reviewText']))
    #Making everything lowercase
    review = review.lower()
    #splitting the sentence into words
    review = review.split()
    #delete stop words 
    review = [word for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    corpus.append(review)
    
  return corpus

corpus = pre_process_reviews(df)

In [0]:
print('This is what our reviews look like after removing all the special characters and stopwords:')
corpus[:3]

This is what our reviews look like after removing all the special characters and stopwords:

['jan svankajer feature film follow masterpiece alice rather free interpretation classic often referenced tale faust like alice svankmajer approaches story unique original fashion conceptually visually usual mixes various genres art forms combining live actors puppetry claymotion faust sometimes ordinary man playing role faust sometimes puppet sometimes faust film shows svankmajer brilliant creativity imagination fantastic unique stop motion technique best even though find slightly inferior alice overdubbed voices annoying much better alice wonderful surreal dark atmosphere brilliant character designs even couple scenes quite entertaining like old man collects legs adore way mephistopheles turns clay mirror faust head changing puppet devil angel delicate transformation faust turning man puppet back nothing else visual side faust well worth seeing fan svankmajer interested classic animation puppetry buy faust',
 'big mins colourtom hankselizabeth perkinsrobert loggiajohn heardthe wonderfully versatile tom hanks stars josh baskin year old boy makes wish carnival wishing machine wish big amazement wakes next morning body year old confused frightened thrust adult world josh help best friend runs away new york sheer luck lands job toy company discovers advantages big freedom money unlimited toys junk food prepared happens attracts sexy co worker chic ambitious predatory susan lawrence josh torn freedom adult year old brain love security homelife big great entertainment often touching always big laughs written coproducers gary ross anne spielberg tom hanks th film big later broadway musical',
 'films coming holiday movie season kinsey near top list despite absolutely superb cast confess found film someone disappointing truth simply lot story tell least lot already familiar alfred kinsey story briefly kinsey achieved fame entomologist accidentally became first american sex researcher many regressive side cultural wars focus satanic figure people going view important figure pulling american attitudes knowledge sex victorian period film good job hinting degree ignorance sex existed many places even mid century reminding one virginia woolf comments decades earlier incident one e forster novels woolf expressed doubt whether mr forster acquainted facts life since uncertain whether one character became pregnant male character umbrella would hard argue ignorance existed great deal harm kinsey achievement bring sex realm public discussion assess scientifically massive accumulation information acquired face face interviews historically main achievement originating social scientific study sex though work entirely superceded researchers view methodology hopelessly flawed instance including vast number interviews incarcerated individuals unquestionably skewed overall figures ways represent populace whole nonetheless kinsey pivotal moving discussion sex realm morals laboratory anyone wanting brief excellent account kinsey career find succint one relevant chapter david halberstam fifties alongside story kinsey study sex story main characters struggle sexuality something threatened separation private personal life kinsey ends experimenting sexuality encourages wife colleagues wives well part film reveals naivet eacute much personal activity self serving nature much research anything film understates turmoil kinsey work threw america though correctly record first book male sexuality indeed create sensation second book female sexuality created massive reaction part critics problem lacks great deal narrative tension filmmakers manage transcend material great job creating period feel bringing forth many big issues day outlines story easy state briefly words kinsey story interesting point point cast best liam neeson almost certain get oscar nomination title role laura linney immensely talented actress never gotten many prominent roles would liked delivered equally nuanced performance kinsey wife cast rounded talented group though one favorites oliver platt gets straightforward role gives room expand except easily offended rather graphic sexual content definitely recommend film red hot passion good certainly great film interesting quite fascinating moment american history']

In [0]:
#5 - Building the vocabulary 

def vocabulary(corpus):
  '''This function takes the entire corpus of the reviews and returns a list of all the unique words that it contains 
  as the vocabulary for our dataset.'''
  
  revs = ''.join(corpus)
  words = revs.split(' ')
  vocab = set(words)
  
  return list(vocab)
 
vocab = vocabulary(corpus)
vocab[:10]

['tamilnadu',
 'virgins',
 'emcompetent',
 'tchicovasky',
 'certifiable',
 'washy',
 'bodiam',
 'surviors',
 'downfall',
 'beseiged']

In [0]:
#6 - Word-to-Index

char_to_idx = {word: i for i, word in enumerate(vocab)}


def revs_to_idx(corpus):
  '''This function takes the corpus of all the reviews, converts the sequence of words to a sequence of integers 
  and return a corpus of all the reviews in the form of integers '''
  
  final = []

  for i in range(len(corpus)):
    review = corpus[i]
    words = review.split(' ')
    rev = []
    for j in range(len(words)):
      try:
        rev.append(char_to_idx[words[j]])
      except KeyError:
        rev.append(0) #unknown word - that is, we are going to replace a word with 0 if it not contained in the vocabulary
    final.append(rev)
    
  return final

inds_reviews = revs_to_idx(corpus)
print(inds_reviews[0])

[11936, 56879, 19879, 81163, 76060, 54574, 50245, 36325, 53721, 15889, 81795, 23092, 69992, 51492, 19354, 67199, 50245, 54751, 13013, 4744, 73784, 78005, 40085, 39366, 30568, 23911, 39843, 63845, 43989, 40488, 76092, 19345, 77595, 23271, 70495, 63652, 19354, 71370, 59604, 68887, 64980, 51380, 19354, 71370, 35843, 71370, 19354, 81163, 18092, 54751, 12590, 3429, 29632, 54262, 73784, 74257, 62280, 38037, 64911, 5155, 35749, 655, 8201, 69426, 50245, 68337, 61218, 80763, 3447, 1069, 50245, 67777, 63040, 48588, 78996, 12590, 39514, 15518, 5155, 24517, 64277, 45375, 33059, 67199, 70785, 68887, 9492, 11303, 9612, 48869, 69731, 19737, 61113, 48756, 19354, 39603, 81806, 35843, 907, 81294, 70247, 79106, 19354, 22583, 68887, 35843, 48446, 39936, 72907, 17053, 32872, 19354, 14611, 62087, 38233, 45467, 54751, 53615, 81795, 69906, 70495, 62153, 19354]

In [0]:
inds_reviews = revs_to_idx(corpus)
print(df[5:6]['reviewText'],'was transformed to :', inds_reviews[5:6])

5    A truly "kids" movie.  Kids are the stars, and...
Name: reviewText, dtype: object was transformed to : [[33756, 42265, 23705, 42265, 16739, 73634, 54517, 39717, 6902, 25509, 1617, 79958, 73515, 57105, 58590, 76714, 30374, 6391]]

In [0]:
df.iloc[5][2]

'A truly "kids" movie.  Kids are the stars, and the aliens.  What a terriffic twist to the end.  Great Sci-fi in outer space adventure and fun from start to finish.'

In [0]:
#7 - Padding

from sklearn.model_selection import train_test_split
from keras.preprocessing import sequence 
max_review_length = 250

def padding(inds,max_review_length = 250):
  data = sequence.pad_sequences(inds, maxlen=max_review_length)
  return data
review_data = padding(inds_reviews,max_review_length)# sequence.pad_sequences(inds_reviews, maxlen=max_review_length)
labels = df['label'].values
#labels = to_categorical(labels,2)

## Building the model

In [0]:
#Splitting the data

trainX, testX, trainY, testY = train_test_split(review_data,labels,test_size = 0.20, random_state = 1) 
pd.DataFrame(trainX).head()

   0    1    2    3    4    5    ...    244    245    246    247    248    249
0    0    0    0    0    0    0  ...  61843  62977  22620  29613  71860  73919
1    0    0    0    0    0    0  ...  36207  32370  74254  58004  16838  41005
2    0    0    0    0    0    0  ...  74829  79100  74829  57518  36495  27787
3    0    0    0    0    0    0  ...  36027  74160  15148  59912  63905  34914
4    0    0    0    0    0    0  ...  76258  58063  44879  64460  40347   3521

[5 rows x 250 columns]

In [0]:
df.columns

Index(['reviewerID', 'asin', 'reviewText', 'overall', 'good', 'Comedy',
       'Art House & International', 'Drama', 'Action & Adventure', 'Horror',
       'Science Fiction', 'Animation', 'length', '!', '?', ',', '.', ' ',
       'Extro', 'Agree', 'Neuro', 'Open', 'Consc', 'Extro_Comedy',
       'Extro_Art House & International', 'Extro_Drama',
       'Extro_Action & Adventure', 'Extro_Horror', 'Extro_Science Fiction',
       'Extro_Animation', 'Agree_Comedy', 'Agree_Art House & International',
       'Agree_Drama', 'Agree_Action & Adventure', 'Agree_Horror',
       'Agree_Science Fiction', 'Agree_Animation', 'Neuro_Comedy',
       'Neuro_Art House & International', 'Neuro_Drama',
       'Neuro_Action & Adventure', 'Neuro_Horror', 'Neuro_Science Fiction',
       'Neuro_Animation', 'Open_Comedy', 'Open_Art House & International',
       'Open_Drama', 'Open_Action & Adventure', 'Open_Horror',
       'Open_Science Fiction', 'Open_Animation', 'Consc_Comedy',
       'Consc_Art House & International', 'Consc_Drama',
       'Consc_Action & Adventure', 'Consc_Horror', 'Consc_Science Fiction',
       'Consc_Animation', 'corpus', 'noun', 'adj', 'verb (simple)',
       'verb (simple past)', 'verb (past participle)', 'verb (gerund)',
       'adverb', 'preposition', 'label'],
      dtype='object')

In [0]:
from keras.models import Model, Input
from keras.layers import Bidirectional, GlobalMaxPool1D
from keras import initializers, regularizers, constraints, optimizers, layers
from keras.layers import concatenate
from keras import layers, models

nlp_input = Input(shape=(250,), name='nlp_input')
meta_input = Input(shape=(62,), name='meta_input')
emb = Embedding(output_dim=64, input_length=250, input_dim = 250)(nlp_input)
nlp_out = Bidirectional(LSTM(128, dropout=0.3, recurrent_dropout=0.3, kernel_regularizer=regularizers.l2(0.01)))(emb)
x = concatenate([nlp_out, meta_input])
x = Dense(1, activation='relu')(x)
x = Dense(1, activation='sigmoid')(x)
model = Model(inputs=[nlp_input , meta_input], outputs=[x])

In [0]:
#Building a model 
from keras import Sequential
from keras.layers import Embedding, LSTM, Dense, Dropout


embedding_vecor_length = 64
model = Sequential() 
model.add(Embedding(len(vocab), embedding_vecor_length, input_length=max_review_length)) 
#model.add(Conv1D(filters=256, kernel_size=3, padding='same', activation='relu')) 
#model.add(Conv1D(filters=32, kernel_size=3, padding='same', activation='relu')) 
model.add(Conv1D(filters=64, kernel_size=3, padding='same', activation='relu')) 
model.add(MaxPooling1D(pool_size=2)) 
model.add(LSTM(200))
model.add(Dense(1, activation='sigmoid')) 
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_10 (Embedding)     (None, 250, 64)           5247744
_________________________________________________________________
conv1d_2 (Conv1D)            (None, 250, 64)           12352
_________________________________________________________________
max_pooling1d_2 (MaxPooling1 (None, 125, 64)           0
_________________________________________________________________
lstm_7 (LSTM)                (None, 200)               212000
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 201
=================================================================
Total params: 5,472,297
Trainable params: 5,472,297
Non-trainable params: 0
_________________________________________________________________
None

In [0]:
# Training the model 
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [0]:
#Evaluating the test data
#history = model.fit([trainX, trainO], trainY, epochs = 25, batch_size=64, shuffle = True, verbose = 1 ) #64 reviews at one time #will see the dataset 3 times
history = model.fit(trainX, trainY, epochs = 25, batch_size=64, shuffle = True, verbose = 1 )
_, test_ac = model.evaluate(testX, testY, verbose=1)

test_acc = []

for i in range(len(history.history['acc'])):
  test_acc.append(history.history['acc'][i])

test_loss = []

for i in range(len(history.history['acc'])):
  test_loss.append(1 - history.history['acc'][i])
  
print('Test Accuracy: {}'.format(test_ac))

Epoch 1/25
15046/15046 [==============================] - 127s 8ms/step - loss: 0.4446 - acc: 0.7790
Epoch 2/25
15046/15046 [==============================] - 122s 8ms/step - loss: 0.1913 - acc: 0.9268
Epoch 3/25
15046/15046 [==============================] - 123s 8ms/step - loss: 0.0889 - acc: 0.9705
Epoch 4/25
15046/15046 [==============================] - 123s 8ms/step - loss: 0.0428 - acc: 0.9864
Epoch 5/25
15046/15046 [==============================] - 123s 8ms/step - loss: 0.0266 - acc: 0.9910
Epoch 6/25
15046/15046 [==============================] - 122s 8ms/step - loss: 0.0269 - acc: 0.9912
Epoch 7/25
15046/15046 [==============================] - 123s 8ms/step - loss: 0.0196 - acc: 0.9942
Epoch 8/25
15046/15046 [==============================] - 125s 8ms/step - loss: 0.0111 - acc: 0.9964
Epoch 9/25
15046/15046 [==============================] - 124s 8ms/step - loss: 0.0072 - acc: 0.9981
Epoch 10/25
15046/15046 [==============================] - 125s 8ms/step - loss: 0.0103 - acc: 0.9969
Epoch 11/25
15046/15046 [==============================] - 125s 8ms/step - loss: 0.0078 - acc: 0.9974
Epoch 12/25
15046/15046 [==============================] - 125s 8ms/step - loss: 0.0056 - acc: 0.9983
Epoch 13/25
15046/15046 [==============================] - 124s 8ms/step - loss: 0.0031 - acc: 0.9993
Epoch 14/25
15046/15046 [==============================] - 125s 8ms/step - loss: 0.0024 - acc: 0.9993
Epoch 15/25
15046/15046 [==============================] - 127s 8ms/step - loss: 0.0014 - acc: 0.9996
Epoch 16/25
15046/15046 [==============================] - 128s 8ms/step - loss: 2.1861e-04 - acc: 1.0000
Epoch 17/25
15046/15046 [==============================] - 129s 9ms/step - loss: 9.3051e-05 - acc: 1.0000
Epoch 18/25
15046/15046 [==============================] - 128s 9ms/step - loss: 5.8409e-05 - acc: 1.0000
Epoch 19/25
15046/15046 [==============================] - 129s 9ms/step - loss: 4.2694e-05 - acc: 1.0000
Epoch 20/25
15046/15046 [==============================] - 129s 9ms/step - loss: 3.2848e-05 - acc: 1.0000
Epoch 21/25
15046/15046 [==============================] - 128s 9ms/step - loss: 2.6036e-05 - acc: 1.0000
Epoch 22/25
15046/15046 [==============================] - 129s 9ms/step - loss: 2.1244e-05 - acc: 1.0000
Epoch 23/25
15046/15046 [==============================] - 127s 8ms/step - loss: 1.7441e-05 - acc: 1.0000
Epoch 24/25
15046/15046 [==============================] - 128s 9ms/step - loss: 1.4472e-05 - acc: 1.0000
Epoch 25/25
15046/15046 [==============================] - 128s 9ms/step - loss: 1.2232e-05 - acc: 1.0000
3762/3762 [==============================] - 8s 2ms/step
Test Accuracy: 0.8208399786396523